# Ambiente virtual
.venv/
*.pyc
__pycache__/

# Chave GCP (NUNCA subir)
*.json
gcp-key.json

*.env
*.key
*.creds

# dbt folders
target/
dbt_packages/

# VS Code
.vscode/

# Sensíveis
profiles.yml
secretkeys.txt
*.duckdb
